@import "../../vars.scss";


.event-detail {
    border: 1px solid $light-grey;
    width: 100%;
    border-radius: 4px;
}
    .top-event-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $blue-sporteasy;
    line-height: 0
    }

    .bottom-event-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $white;
    line-height: 0;
    padding: 10px;
    }

    .game-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .score-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    line-height: 0;
    gap: 10px;
    }

    .score {
    background-color: $very-almost-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $almost-grey;
    border-radius: 4px;
    gap: 10px;
    padding: 0px 5px 0px 5px;
    }

    .win-text {
    color: $green;
    }

    .lose-text {
    color: $red;
    }

    .white-text {
    color: $almost-grey;
    }

    .large-text {
    font-size: $font-large;
    }

    .small-text {
    font-size: $font-small;
    }