@import "../../vars.scss";

.attendee-container {
    background-color: $white;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: auto;
    padding-bottom: 20px;
    border-radius: 4px;
}

.attendee-count {
    display: flex;
    justify-content: flex-start;
    width: 90%;
}

.attendee-picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-present {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 30px;
    gap: 8px;
    background: var(--teams-green-apple-30, #DBF5D2);
}

.status-absent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 30px;
    background: #F1C3CA;
    gap: 8px;
}

table {
    border: 1px solid $almost-grey;
    width: 90%;

    thead {
        background-color: $almost-grey;
        color: $medium-grey;

        th {
            padding: 16px 0px 16px 0px;
        }
    }

    tbody {
        img {
            width: 32px;
            height: 32px;
            border-radius: 32px;
            background: lightgray 50% / cover no-repeat;
        }

        tr {
            padding: 16px;
        }

    }

}